@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-rajdhani: var(--font-rajdhani), sans-serif;
  --font-mona: var(--font-mona), sans-serif;

  --color-accent: #ed1d24;
  --color-accent-hover: #d6001c;
  --color-primary: #222222;
  --color-primary-hover: #2f2f2f;

  --breakpoint-cxl: 1440px;
  --breakpoint-clg: 960px;
  
}


@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply font-rajdhani;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold uppercase;
  }

  h1 {
    @apply text-5xl md:text-[5rem] leading-none;
  }

  h2 {
    @apply text-[2.5rem];
  }

  h3 {
    @apply text-[1.4rem];
  }

  h4 {
    @apply text-[1.12rem] text-2xl; 
  }

  a {
    @apply font-bold uppercase leading-none hover:text-accent-hover transition-all duration-200;
  }
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility btn {
  padding-inline: 2rem;
  height: 3rem;
  @apply flex-center;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

@utility btn-icon {
  width: 3rem;
  height: 3rem;
  @apply flex-center;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

@utility btn-accent {
  background-color: var(--color-accent);
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--color-accent-hover);
  }
}

@utility btn-primary {
  background-color: var(--color-primary);
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--color-primary-hover);
  }
}

@utility btn-white {
  color: var(--color-primary);
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: color-mix(in oklab, #fff 90%, transparent);
  }
}

@layer utilities {
  .custom-container {
    @apply container p-4 mx-auto bg-white/90;
    @media (width >= 108rem /* 1735px */) {
      max-width: 108rem /* 1735px */;
    }
  }
}

/* swiper styles */
.popular-bikes-slider .swiper-wrapper {
  @apply !h-[30rem];
}

.swiper-horizontal .swiper-pagination-bullet {
  @apply bg-accent;
}

.swiper .swiper-button-prev {
  @apply top-44 -left-1;
}

.swiper .swiper-button-next {
  @apply top-44 -right-1;
}

.swiper .swiper-button-prev:after,
.swiper .swiper-button-next:after {
  @apply text-2xl text-accent;
}


